extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Curabitur sodales nisl a erat convallis, vitae venenatis nulla convallis. Sed vitae nisi ex. Nam tincidunt, massa id sagittis posuere, magna lorem aliquam est, ut tempor ante massa at lorem. Suspendisse potenti. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean ut massa nec nisi feugiat placerat nec vitae turpis. Fusce in massa eu nulla hendrerit maximus. Nunc a consectetur sem. Donec in neque a arcu rhoncus rhoncus nec a magna.

                p Nulla facilisi. Vestibulum non tortor vitae tortor pulvinar bibendum eu ut velit. Vivamus finibus, velit ac varius placerat, lacus mauris ornare est, quis consequat massa dolor at ante. Quisque ac elit porta, volutpat diam sed, lobortis nisi. Aenean convallis neque magna, condimentum tempus nunc ultricies eget.

                p Sed id metus quis ante pretium maximus. In faucibus dapibus dolor, at blandit nibh dictum a. Donec ac magna sit amet metus feugiat fringilla at quis lectus. Suspendisse potenti. Proin et nisl nec ipsum feugiat consectetur. Aliquam varius sem vulputate congue hendrerit. Phasellus vel sodales felis. Donec vitae imperdiet massa.
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="iconos seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Aliquam varius sem vulputate congue hendrerit. Phasellus vel sodales felis. Donec vitae imperdiet massa.
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="iconos destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Aliquam varius sem vulputate congue hendrerit. Phasellus vel sodales felis. Donec vitae imperdiet massa.
                
                .col-md-4
                    img(src="img/icono_precios.svg", alt="iconos precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Aliquam varius sem vulputate congue hendrerit. Phasellus vel sodales felis. Donec vitae imperdiet massa.